/* Generated with https://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
font-family: 'TeXGyreAdventor';
src: url('fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
     url('fonts/texgyreadventor-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* Generated with https://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
font-family: 'TeXGyreAdventor';
src: url('fonts/texgyreadventor-bold-webfont.woff2') format('woff2'),
     url('fonts/texgyreadventor-bold-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}

body {
margin: 0;
border: 0;
padding: 0;
font-family: TeXGyreAdventor, Arial, sans-serif;
}

header {
background: #222;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}

header, header > a {
color: #fff;
}

header, footer, body > section {
padding: 12px;
}

h1, h2 {
font-weight: bold;
}

table {
border-collapse: collapse;
}

thead th {
text-align: left;
}

tbody {
border: 1px solid black;
}

tbody tr:nth-child(odd) {
background-color: lightgray;
}

tbody tr:nth-child(even) {
background-color: white;
}
